<div class="primary" *ngIf="!errorMessage">
    <h3>5-day Weather Forecast</h3>
    <!-- <ul class="list-group" *ngFor="let forecast of weatherData">
        <li>
            {{forecast.dt_txt | date:'EEE,MMM dd' }}
            <span class="forecast-temperature">
                <b>
                    <font size="+2">{{forecast.main.temp_min | number:'1.0-0'}}&deg;</font>
                </b>/
                {{forecast.main.temp_max | number:'1.0-0'}}&deg;
            </span>
            <img src="assets/images/{{forecast.weather[0].icon}}.png" alt="icon">
            <span>{{forecast.weather[0].main}}</span>
        </li>
    </ul> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" (sort)="onSort('dt_txt')">Date&nbsp;<i class="fa fa-sort-down"></i></th>
                <th scope="col" sortable="name">Min & Max</th>
                <th scope="col" sortable="area">Forecast</th>
                <th scope="col" sortable="population">Forecast day</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let forecast of weatherData ">
                <th scope=" row">{{forecast.dt_txt | date:'EEE,MMM dd' }}</th>
                <td>
                    <b>
                        <font size="+2">{{forecast.main.temp_min | number:'1.0-0'}}&deg;</font>
                    </b>/ {{forecast.main.temp_max | number:'1.0-0'}}&deg;
                </td>
                <td><img src="assets/images/{{forecast.weather[0].icon}}.png" alt="icon"></td>
                <td>{{forecast.weather[0].main}}</td>
            </tr>
        </tbody>
    </table>
</div>